name: Build and Deploy

on:
  push:
    branches:
      - main

env:
  BUILD_TAG: ${{ github.run_number }}-${{ github.sha }}
  BOT_IMAGE: ${{ secrets.DOCKER_HUB_USERNAME }}/gym-bot-app
  ADMIN_BACKEND_IMAGE: ${{ secrets.DOCKER_HUB_USERNAME }}/gym-bot-admin-backend
  ADMIN_FRONTEND_IMAGE: ${{ secrets.DOCKER_HUB_USERNAME }}/gym-bot-admin-frontend

jobs:
  build-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      
      - name: Build and push bot Docker image
        run: |
          docker build -f app/Dockerfile -t ${{ env.BOT_IMAGE }}:${{ env.BUILD_TAG }} app/
          docker push ${{ env.BOT_IMAGE }}:${{ env.BUILD_TAG }}

  build-admin-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      
      - name: Build and push admin backend Docker image
        run: |
          docker build -f admin_panel/backend/Dockerfile -t ${{ env.ADMIN_BACKEND_IMAGE }}:${{ env.BUILD_TAG }} admin_panel/backend/
          docker push ${{ env.ADMIN_BACKEND_IMAGE }}:${{ env.BUILD_TAG }}

  build-admin-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      
      - name: Build and push admin frontend Docker image
        run: |
          docker build -f admin_panel/frontend/Dockerfile -t ${{ env.ADMIN_FRONTEND_IMAGE }}:${{ env.BUILD_TAG }} admin_panel/frontend/
          docker push ${{ env.ADMIN_FRONTEND_IMAGE }}:${{ env.BUILD_TAG }}

  deploy:
    needs: [build-bot, build-admin-backend, build-admin-frontend]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible
      
      - name: Install Ansible requirements
        run: |
          ansible-galaxy install -f -r ansible/requirements.yaml
      
      - name: Set up SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p ${{ secrets.SERVER_PORT }} ${{ secrets.SERVER_ADDRESS }} >> ~/.ssh/known_hosts
      - name: Run Ansible Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
          SERVER_ADDRESS: "${{ secrets.SERVER_ADDRESS }}"
          SERVER_USER: "${{ secrets.SERVER_USER }}"
          SERVER_PORT: "${{ secrets.SERVER_PORT }}"
          BOT_IMAGE: ${{ env.BOT_IMAGE }}
          BOT_TAG: ${{ env.BUILD_TAG }}
          ADMIN_BACKEND_IMAGE: ${{ env.ADMIN_BACKEND_IMAGE }}
          ADMIN_BACKEND_TAG: ${{ env.BUILD_TAG }}
          ADMIN_FRONTEND_IMAGE: ${{ env.ADMIN_FRONTEND_IMAGE }}
          ADMIN_FRONTEND_TAG: ${{ env.BUILD_TAG }}
          GOOGLE_SHEET_ID: "${{ secrets.GOOGLE_SHEET_ID }}"
          TELEGRAM_BOT_TOKEN: "${{ secrets.TELEGRAM_BOT_TOKEN }}"
          TELEGRAM_WEBHOOK_SECRET: "${{ secrets.TELEGRAM_WEBHOOK_SECRET }}"
          WEB_APP_URL: "${{ secrets.WEB_APP_URL }}"
          SA: "${{ secrets.SA }}"
          NEXTAUTH_SECRET: "${{ secrets.NEXTAUTH_SECRET }}"
          NEXT_PUBLIC_TELEGRAM_BOT_USERNAME: olykov_gym_bot
          # Database secrets (pg container in the same project)
          DB_USER: myuser
          DB_HOST: gymbot_db
          DB_NAME: gym_bot_db
          DB_PASSWORD: mypassword
          DB_PORT: 5432
          # Redis secrets
          REDIS_PASSWORD: "${{ secrets.REDIS_PASSWORD }}"
        run: ansible-playbook -i ansible/inventory.yaml ansible/deploy.yaml
